@charset "UTF-8";

input:invalid {
  border: 1px solid red;
}

input:valid + .error {
  display: none;
}

input:invalid + .error {
  display: block;
  color: red;
}



.card-header-link {
  background-color: #95A5A6;
  color: #2C3E50; 
  text-decoration: none;
}

.card-header-link:hover {
  background-color: white;
  color: #13967E;

}


