<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>ihm.utilisateur.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <display-name>eni-enchere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListEnchereServlet</display-name>
    <servlet-name>ListEnchereServlet</servlet-name>
    <servlet-class>ihm.enchere.ListEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEnchereServlet</servlet-name>
    <url-pattern>/ListEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEnchereServlet</display-name>
    <servlet-name>AjouterEnchereServlet</servlet-name>
    <servlet-class>ihm.enchere.AjouterEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEnchereServlet</servlet-name>
    <url-pattern>/AjouterEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailEnchereServlet</display-name>
    <servlet-name>detailEnchereServlet</servlet-name>
    <servlet-class>ihm.enchere.detailEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailEnchereServlet</servlet-name>
    <url-pattern>/detailEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEnchereServlet</display-name>
    <servlet-name>ModifierEnchereServlet</servlet-name>
    <servlet-class>ihm.enchere.ModifierEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEnchereServlet</servlet-name>
    <url-pattern>/ModifierEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerEnchereServlet</display-name>
    <servlet-name>SupprimerEnchereServlet</servlet-name>
    <servlet-class>ihm.enchere.SupprimerEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerEnchereServlet</servlet-name>
    <url-pattern>/SupprimerEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailUserServlet</display-name>
    <servlet-name>detailUserServlet</servlet-name>
    <servlet-class>ihm.utilisateur.detailUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailUserServlet</servlet-name>
    <url-pattern>/detailUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierUserServlet</display-name>
    <servlet-name>modifierUserServlet</servlet-name>
    <servlet-class>ihm.utilisateur.modifierUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierUserServlet</servlet-name>
    <url-pattern>/modifierUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.security.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.security.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>